<div class='work-unit'>
  <%# TODO: We will need the description field here, but I'm waiting till I write a test for it. %>
  <div class='date'><%= work_unit.date.to_s :short_with_year %></div>
  <div class='hours'><%= work_unit.hours.strftime '%-k' %> <%= 'hour'.pluralize work_unit.hours.hour %></div> <%# TODO: do this better. %>
</div>
